/**
 * components/typography.css
 *
 * Typography rules.
 *
 */

/* -- Site fonts */

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Rubik'), local('Rubik'),
  url('~assets/fonts/rubik-latin-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('Rubik'), local('Rubik'),
  url('~assets/fonts/rubik-latin-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Rubik'), local('Rubik'),
  url('~assets/fonts/rubik-latin-700.woff2') format('woff2');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local('Rubik'), local('Rubik'),
  url('~assets/fonts/rubik-latin-900.woff2') format('woff2');
}



@layer base {
  strong, b {
    @apply font-sans
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-sans
  }
}
